<%= form_for @content, :html => { :multipart => true, :class => 'content' } do |f| %>
  <div class="row">
    <div class="twelvecol">
      <% if @content.errors.any? %>
        <div id="error_explanation">
          <h3>Oops, something was wrong with your <%= @type %> submission.</h3>

          <ul>
          <% @content.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <fieldset>
    <div class="row">
      <div class="eightcol first">

        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, :class => 'text' %>
        </div>

      </div>
      <div class="fourcol last">
        <div class="help first-help">
          <p class="first-paragraph last-paragraph">This is the title of your <%= @type %>. Try something descriptive but short.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eightcol first">

        <div class="field">
          <%= f.label :summary %>
          <%= f.text_area :summary, :rows => 5 %>
        </div>

      </div>
      <div class="fourcol last">
        <div class="help">
          <p class="first-paragraph last-paragraph">Your <%= @type %> summary will appear on the front page in the newswire as well as directly above your <%= @type %> body when viewed in full.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="eightcol first">

        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body, :class=> "markitup" %>
        </div>

      </div>
      <div class="fourcol last">
        <div class="help">
          <p class="first-paragraph">This is your main <%= @type %> text. You can see what it will look like in the live preview below, once you start typing.</p>
          <p class="last-paragraph">You can use Markdown formatting. See <a href="#">Text formatting help.</a></p>
        </div>
      </div>
    </div>

  </fieldset>

  <% if is_event?(@content) %>
    <fieldset>
      <div class="row">
        <div class="eightcol first">
          <div class="field datetime">
            <%= f.label :start, "Start date" %>
            <%= f.date_select :start, :class => "datepicker-set" %> <input type="text" class="datepicker"></input><br />
            <%= f.time_select :start, :ignore_date => true, :prompt => true %>
          </div>

          <div class="field location">
            <%= f.label :location %>
            <%= f.text_field :location, :class => 'text' %>
          </div>
        </div>

        <div class="fourcol last">
          <div class="help first-help">
            <p class="first-paragraph last-paragraph">Soemthing helpful about a date.</p>
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>

  <% if not is_event?(@content) %>
    <fieldset>
      <div class="row">
        <div class="eightcol first categorize">

          <div class="field category">
            <%= f.label :category %>
            <%= f.select :category, [['- Select a category -', 0]] + Content::CATEGORIES.zip(Content::CATEGORIES) %>
          </div>

          <div class="field tags">
            <%= f.label :tag_list, "Tags" %>
            <%= f.text_field :tag_list, :class => 'text' %>
            <p class="description">Required. Maximum 5 tags.</p>
          </div>

        </div>

        <div class="fourcol last">
          <div class="help first-help">
            <p class="first-paragraph last-paragraph">Select the category that <em>best fits</em> your <%= @type %>.</p>
          </div>
        </div>
      </div>
    </fieldset>
  <% end %>

  <fieldset>
    <div class="row">
      <div class="eightcol first">
        <div class="field">
          <%= f.label :images %>
          <div id="add-images-field-to" class="sortable">
            <%= f.fields_for :images do |image| %>
              <%= render 'image_fields', :f => image  %>
            <% end %>
          </div>
          <p><%= link_to_add_fields "Add another image", f, :images %></p>
        </div>
      </div>
    </div>
  </fieldset>


  <% unless current_user %>
    <fieldset>
      <div class="row">
        <div class="eightcol first">
          <div class="field">
            <%= f.label :pseudonym, "Author name" %>
            <%= f.text_field :pseudonym, :class => 'text' %>
          </div>
        </div>

        <div class="fourcol last">
          <div class="help first-help">
            <p class="first-paragraph last-paragraph">The author name will default to “Anonymous” if none is provided.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="eightcol first">
          <div class="field">
            <%= f.label :captcha, "Are you human?" %>
            <%= show_simple_captcha %>
          </div>
        </div>

        <div class="fourcol last">
          <div class="help">
            <p class="first-paragraph last-paragraph">To stop spam, we have to check whether you are human enough to read this text. Please copy the text in the image into the field.</p>
          </div>
      </div>
    </fieldset>
  <% end %>


  <fieldset>
    <div class="row">
      <div class="eightcol first">
        <div class="actions">
          <%= f.submit 'Publish', :class => 'submit' %> <%= link_to 'Cancel', :back, :data => { :confirm => "Are you sure you want to cancel?" } %>
        </div>
      </div>
    </div>
  </fieldset>

<% end %>
