<div id="content" class="<%= @type %>">
  <div class="row">
    <h1 class="twelvecol page-title"><%= @content.title %> <% if @content.editable?(current_user) %><%= link_to "(edit your #{@type})", [:edit, @content], :class => 'edit-own-content' %><% end %></h1>
  </div>

  <div class="row">
    <div class="fourcol floatright last sidebar">
      <% if current_user && current_user.is_editor? %>
        <div class="editor-tools sidebar-block">
          <h3>Editor tools</h3>

          <p>Moderation state: <strong><%= @content.status_name %></strong></p>

          <ul class="no-indentation">
            <li><%= link_to "Edit this #{@type}", [:edit, @content] %></li>
            <li><%= link_to "Delete this #{@type}", @content, :method => :delete, :data => { :confirm => "Are you sure you want to delete this #{@type}?" } %></li>
            <% Content::STATES.each_with_index do |state, i| %>
              <% unless @content.status == i %>
                <li><%= link_to "Mark as #{state.downcase}", moderate_content_path(:status => i), :method => :put %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if is_event?(@content) %>
        <div class="event-details sidebar-block">
          <p class="first-paragraph"><%= long_event_date(@content.start) %></p>
          <p class="last-paragraph"><%= @content.location %></p>
        </div>

        <div>
          <p class="first-paragraph last-paragraph">Posted by <%= link_to_author @content %></p>
        </div>
      <% end %>

      <% if not is_event?(@content) %>
        <div class="attribution sidebar-block">
          <p class="first-paragraph">by <%= link_to_author @content %> </p>
          <p class="last-paragraph"><%= long_article_date @content.created_at %></p>
        </div>

        <div class="metadata sidebar-block">
          <h3><%= @content.category %></h3>
          <p class="tags last-paragraph"><%= @content.tag_list %></p>
        </div>
      <% end %>

      <% if @content.images.length > 1 %>
        <div class="image-gallery sidebar-block">
          <div class="float-overflow">
            <% @content.images.each do |image| %>
              <%= link_to image_tag(image.image.url :gallery_thumbnail), image.image.url(:gallery_full), :class => "image #{cycle('odd', 'even')}" %>
            <% end %>
          </div>
          <%= link_to "Show all #{@content.images.length} images", "#", :id => "show-all-images" %>
        </div>
      <% end %>

      <p class="creative-commons">
        This work is licensed under a Creative Commons Attribution NonCommercial ShareAlike 3.0 Unported License
      </p>

      <p><%= image_tag "socialmediaicons.png" %></p>
    </div>

    <div class="eightcol first">
      <% if image = @content.images.first %>
        <%= image_tag image.image.url(:article), :class => 'border', :id => 'image-feature' %>
      <% end %>
    </div>

    <div class="eightcol first">
      <p class="summary"><%= @content.summary %></p>
    </div>

    <div class="body sevencol first">
      <%= Dispatch::ContentFilter.instance.render @content.body %>
    </div>
  </div>
</div>

<div class="row"><div class="sevencol first"><h3 class="comment">Comments</h3></div></div>

<% @content.comments.each do |comment| %>
  <%= render 'comments/comment', :comment => comment %>
<% end %>

<% if current_user %>
  <% if @content.comments.empty? %>
    <div class="row"><div class="sevencol first"><p>There are no comments yet.</p></div></div>
  <% end %>

  <div class="row">
    <div class="sevencol first">
      <%= render 'comments/form', :comment => @comment, :content => @content %>
    </div>
  </div>
<% else %>
  <% if @content.comments.empty? %>
    <div class="row"><div class="sevencol first"><p>There are no comments yet. You need to be <%= link_to "logged in", login_path %> to comment.</p></div></div>
  <% else %>
    <div class="row"><div class="sevencol first"><p>You need to be <%= link_to "logged in", login_path %> to comment.</p></div></div>
  <% end %>
<% end %>