<div class="row comment <%= "hidden-comment" if comment.hidden? %>">
  <%= content_tag :a, '', :name => "comment-#{comment.id}" %>
  <div class="twocol first">
    <div class="comment-metadata">
      <div class="author"><strong><%= link_to comment.user.display_name, comment.user %></strong></div>
      <div class="date"><%= comment_date(comment.created_at) %></div>
      <div class="editor-tools"><%= hide_comment_toggle comment %> | <%= link_to 'Delete', content_comment_path(comment.content, comment), :method => :delete, :remote => true, :data => { :confirm => "Are you sure you want to delete this comment?" } %></div>
    </div>
  </div>

  <div class="fivecol">
    <div class="body">
      <%= simple_format comment.body %>
    </div>
  </div>
</div>