<div id="user" class="row">
  <div class="eightcol first">
    <% if @contents %>
      <div id="content-listing">
        <%= render 'contents', :contents => @contents %>
      </div>
    <% else %>
      <p class="no-content"><%= @user.display_name %> has not yet published any items.</p>
    <% end %>
  </div>

  <div class="fourcol last">
    <h1><%= @user.display_name %></h1>

    <% if @user.biography.present? %>
      <%= simple_format(@user.biography) %>
    <% end %>

    <p><%= user_stats(@user) %></p>

    <h4>Recent comments</h4>

    <%= "<p>#{@user.display_name} has not yet made any comments.</p>".html_safe if @comments.empty? %>
    <% @comments.each do |comment| %>
      <div class="comment">
        <p class="body">
          <%= truncate comment.body, :length => 150, :separator => ' ' %>
        </p>
        <p class="meta"><%= link_to comment.content.title, comment.content %> <br /><%= comment_date comment.created_at %></p>
      </div>
    <% end %>
  </div>
</div> 