<h1>Frequently Asked Questions</h1>

<h2>Can anyone write for Indymedia?</h2>

<p>Yes, anyone! We recommend you first <%= link_to 'create an account', login_path %> and then you can report the news as you see it to your heart’s content.</p>

<p>If you need help publishing to Indymedia, see our <%= link_to 'step by step instructions', page_path('publish-to-indymedia') %>.</p>

<h2>What does it take for my article to become a feature?</h2>

<p>Any article can become a feature. Above all, if your article is well written and is both relevant and interesting to our readership, then it stands a high chance of being promoted to a feature by an editor. It also helps if your article is correctly formatted and, where possible, that it includes high quality images (not clip art!).</p>

<p>Please note that it may take a few hours before your article is spotted by one of our editors and promoted.</p>

<h2>How do I reset my password if I’ve forgotten it?</h2>

<p>You can reset your password <%= link_to 'here', reset_password_path %>. This will send you an email with instructions on how to reset your password.</p>

<h2>What does it mean that my article has been ‘locked’?</h2>

<p>This is totally normal. After a few weeks (depending on the type of content) your article will become locked to prevent further editing. This gives you a few weeks to re-edit or update your article but also ensures the integrity of our reporting archive on into the future.</p>

<h2>Are there restrictions on what can and can’t be published?</h2>

<p>Yes, please see the <%= link_to 'editorial policy', page_path('editorial-policy') %>. Generally it boils down to ‘don’t be an arsehole to others’. Content that violates the editorial policy will be hidden but will still be available in the <%= link_to 'submission feed', submissions_path %>.</p>

<h2>Why was my article/comment hidden?</h2>

<p>Your article or comment in some way violated our <%= link_to 'editorial policy', page_path('editorial-policy') %>. If you’d like clarification on why it was hidden or you’d like to contest this decision, please <a href="mailto:aotearoa@indymedia.org">email us</a> with a link to the article or comment in question.</p>

<h2>Can I join the collective?</h2>

<p>Yes, anyone can apply to join the editorial collective. <%= link_to "See here.", page_path('join') %></p>

<h2>What should I doI’ve noticed a bug with the site?</h2>

<p>Please report it to <a href="mailto:aotearoa@indymedia.org">aotearoa@indymedia.org</a> with as many details as possible including: the full URL of the page or pages where you noticed the bug; what you were trying to do or what you were expecting the site to do; and the precise behaviour of the bug you observed including any error messages (verbatim). Also, the date and time the bug occurred may help us.</p> 



