<h1>How to publish to Indymedia</h1>

<p>Publishing artices to Indymedia is easy and anyone can do it. Simply follow these steps.</p>

<ol class="big-numbers">
  <li>
    <p>First, we recommend you log in. This isn’t required but it will allow you to go back and edit your finished article after it has been published.</p>
  <li>
    <%= image_tag 'pages/publish-to-indymedia-1.png', :class => "image-right" %>
    <p>Click the large green ‘publish’ button at the top of every page and from the drop-down menu select to publish an article.</p>
  </li>
  <li>
    <p>You will be taken to the article submission form. Every section with a red asterisk needs to be completed.</p>
  </li>
  <li style="clear: both;">
    <%= image_tag 'pages/publish-to-indymedia-2.png', :class => "image-right" %>
    <p>Enter in your article title and summary. The summary is just a sentence or two and must be less than 250 characters. You'll see the form will let you know how many characters left you have for your summary.</p>
  </li>
  <li style="clear: both;">
    <%= image_tag 'pages/publish-to-indymedia-3.png', :class => "image-right" %>
    <p>Now it’s time to enter your full article in to the body field. As you write, a ‘live preview’ will be generated beneath the body field showing you what your article will look like.</p>
    <p>You can use the formatting toolbar to set text as bold or italics, for creating links and headings, lists and blockquotes. <%= link_to "Click here", page_path('text-formatting') %> for help with text formatting.</p>
  </li>
  <li style="clear:both">
    <%= image_tag 'pages/publish-to-indymedia-4.png', :class => "image-right" %>
    <p>Select a category for your article and enter up to five tags. The tags are used to help people search for your article and can be anything you like.<p>

    <p>Separate each tag by a comma. As you enter tags, you will be offered a dropdown list of already-existing tags that you might want to use.</p>
  </li>
  <li style="clear: both">
    <%= image_tag 'pages/publish-to-indymedia-5.png', :class => "image-right" %>
    <p>If you want to add images to your article, click the ‘browse’ button and locate the image on your computer.<p>
    <p>You can add as many images as you like. Each time you want a new upload field, click the ‘add another image’ button.</p>
    <p>You can also rearrange the order of the images by dragging the arrows icon besides each. The topmost image will become the primary image for your article.</p>
  </li>
  <li style="clear: both;">
    <%= image_tag 'pages/publish-to-indymedia-7.png', :class => "image-right" %>
    <p>If you didn't log in, you can provide an author name. If you don’t, the article will be attributed to ‘anonymous’.</p>
    <p>You’ll also be required to fill in the Captcha. Copy the letters from the jumbled image into the text box beside.</p>
  </li>
  <li style="clear: both;">
    <%= image_tag 'pages/publish-to-indymedia-6.png', :class => "image-right" %>
    <p>That's it! If you’re happy with your article, press the big publish button.</p>
  </li>

</ol>