<div id="frontpage">
  <div class="row">
    <%# Primary feature %>
    <div class="sixcol first primary-feature">
      <% if @primary_feature.images.any? %>
        <%= image_tag @primary_feature.images.first.image.url(:primary_feature), :class => 'border' %>
      <% end %>
      <h1 class="page-title"><%= link_to @primary_feature.title, @primary_feature, :class => 'plain-link' %></h1>
      <p class="metadata"><%= feature_date(@primary_feature.created_at) %> &nbsp;|&nbsp; <%= @primary_feature.category %></p>
      <p class="summary"><%= @primary_feature.summary %></p>
    </div>

    <%# The rest of the the features... %>
    <div class="sixcol last">
      <% @features.each do |feature| %>
        <div class="feature <%= "feature-with-image" if feature.images.any? %>">
          <% if feature.images.any? %>
            <%= image_tag feature.images.first.image.url(:feature_square), :class => 'border' %>
          <% end %>

          <h2><%= link_to feature.title, feature, :class => 'plain-link' %></h2>
          
          <p class="metadata"><%= feature_date(feature.created_at) %> &nbsp;|&nbsp; <%= feature.category %></p>

          <p class="summary"><%= feature.summary %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row categories">
    <% @subfeatures.each do |subfeature| %>
      <div class="threecol <%= cycle "first", "second", "third", "last" %>">
        <div class="category"><%= subfeature.category %></div>
        <% if subfeature.images.any? %>
          <%= image_tag subfeature.images.first.image.url(:sub_feature) %>
        <% end %>
        <h3><%= link_to subfeature.title, subfeature, :class => 'plain-link' %></h3>
        <p><%= subfeature.summary %></p>
    </div>
    <% end %>
  </div>

  <div class="row feature-links">
    <div class="fourcol first">
      <a class="learn" href="#"><strong>Learn how to publish</strong> <br />to Indymedia</a>
    </div>

    <div class="fourcol">
      <a class="faq" href="#"><strong>Got a question?</strong> <br />Take a look at the FAQ</a>
    </div>

    <div class="fourcol last">
      <a class="donate" href="#"><strong>Support Indymedia</strong> <br/>We need to raise $2,000 this year</a>
    </div>
  </div>

  <div class="row newswire">
    <div class="ninecol first">
      <h3><%= content_tag :a, 'Newswire', :name => "newswire", :class => 'anchor' %></h3>

      <div id="newswire-items">
        <%= render 'newswire', :newswire => @newswire %>
      </div>
    </div>

    <div class="threecol last events">
      <h3>Upcoming Events</h3>

      <% @events.each do |event| %>
        <div class="event-details"><%= "#{event.location}, #{long_event_date(event.start)}" %></div>
        <h4><%= link_to event.title, event, :class => 'plain-link' %></h4>
      <% end %>
    </div>
  </div>
</div>