<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{ yield(:title) } | Aotearoa Indymedia" : 'Aotearoa Indymedia' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <!-- Default image for facebook -->
  <meta property="og:image" content="<%= image_path("logo-large.png") %>" />
</head>
<body class="no-js">
  <div class="container page-wrapper">
    <div id="header">
      <div class="row first-row">

        <div class="eightcol first">
          <a id="logo" href="/"><img src="<%= asset_path 'logo-small.png' %>" /></a>
        </div>

        <div class="twocol">
          <%= form_tag search_path, :method => 'get', :class => 'search dark-search' do %>
            <%= text_field_tag :q, '', :class => 'text', :placeholder => 'Search' %>
            <%= submit_tag "Search", :class => 'submit' %>
          <% end %>
        </div>

        <div id="publish" class="twocol last">
          <a class="button button-large" href="#">Publish</a>
          <ul class="undecorated-list">
            <li>
              <a href="<%= new_article_path %>">
                <h5>Article</h5>
                <p>Write a news story or upload images</p>
              </a>
            </li>
            <li>
              <a href="<%= new_repost_path %>">
                <h5>Repost</h5>
                <p>Repost an article or blog from another site</p>
              </a>
            </li>
            <li>
              <a href="<%= new_event_path %>">
                <h5>Event</h5>
                <p>Publicise an upcoming event</p>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="row second-row">

        <div class="twocol last floatright">
          <% if current_user %>
            <%= link_to "Hi, #{current_user.display_name}", current_user, :class => 'plain-link' %> | <%= link_to 'Logout', logout_path, :class => 'plain-link' %>
          <% else %>
            <%= link_to 'Login | Register', login_path, :class => 'plain-link' %>
          <% end %>
        </div>

        <div class="sixcol first floatright">
          <%= link_to "What is Indymedia?", page_path('what-is-indymedia') %>
        </div>

      </div> <!-- /row -->
    </div> <!-- /header -->

    <div id="main">

      <div class="row">
        <div class="twelvecol">
          <% if notice %>
            <p id="notice"><%= notice %></p>
          <% end %>
        </div>
      </div>

      <%= yield %>

    </div>

    <div id="footer-push"></div>
  </div> <!-- /page-wrapper -->

  <div class="container footer-wrapper">
    <div id="footer">

      <div class="row">
        <div class="threecol first">
          <img src="<%= asset_path 'logo-little.png' %>" />
          <h3>Aotearoa Independent <br />Media Centre</h3>
          <%= form_tag search_path, :method => 'get', :class => 'search dark-search' do %>
            <%= text_field_tag :q, '', :class => 'text', :placeholder => 'Search' %>
            <%= submit_tag "Search", :class => 'submit' %>
          <% end %>
        </div>

        <div class="threecol">
          <h3>Quick Links</h3>
          <ul class="undecorated-list">
            <li><a href="#">Indymedia FAQ</a></li>
            <li><a href="#">Write for Indymedia</a></li>
            <li><a href="#">Donate to Indymedia</a></li>
            <li><a href="#">Join the editorial collective</a></li>
            <li><a href="<%= submissions_path %>">Submission feed</a></li>
          </ul>
        </div>

        <div class="threecol">
          <h3>The Indymedia Network</h3>
          <ul class="undecorated-list">
            <li><a href="#">indymedia.org</a></li>
            <li><a href="#">indymedia.org.au</a></li>
            <li><a href="#">london.indymedia.org</a></li>
            <li><a href="#">indymedia.org.au/melbourne</a></li>
          </ul>
        </div>

        <div class="threecol last">
          <h3>Contact Us</h3>
          <ul class="undecorated-list">
            <li><a class="email" href="#">editors@indymedia.org.nz</a></li>
            <li><a class="twitter" href="#">Twitter</a></li>
            <li><a class="facebook" href="#">Facebook</a></li>
          </ul>
        </div>

      </div> <!-- /row -->
    </div> <!-- /footer -->
  </div> <!-- /footer-wrapper -->
  <!-- Piwik -->
  <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://<%= Rails.application.config.piwik[:url] %>/" : "http://<%= Rails.application.config.piwik[:url] %>/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", <%= Rails.application.config.piwik[:id] %>);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
    } catch( err ) {}
  </script>
  <noscript><p><img src="http://<%= Rails.application.config.piwik[:url] %>/piwik.php?idsite=<%= Rails.application.config.piwik[:id] %>" style="border:0" alt="" /></p></noscript>
  <!-- End Piwik Tracking Code -->
</body>
</html>
